<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Download-data" data-toc-modified-id="Download-data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Download data</a></span></li><li><span><a href="#Import-data-into-dataframe" data-toc-modified-id="Import-data-into-dataframe-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Import data into dataframe</a></span></li><li><span><a href="#Exploratory-process" data-toc-modified-id="Exploratory-process-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Exploratory process</a></span><ul class="toc-item"><li><span><a href="#Size-of-dataframe" data-toc-modified-id="Size-of-dataframe-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Size of dataframe</a></span></li><li><span><a href="#Column-names" data-toc-modified-id="Column-names-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Column names</a></span></li><li><span><a href="#Data-types-in-each-column" data-toc-modified-id="Data-types-in-each-column-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Data types in each column</a></span></li><li><span><a href="#Unique-values-in-categorical-data/columns" data-toc-modified-id="Unique-values-in-categorical-data/columns-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Unique values in categorical data/columns</a></span></li><li><span><a href="#Range-of-values-in-numerical-data/columns" data-toc-modified-id="Range-of-values-in-numerical-data/columns-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Range of values in numerical data/columns</a></span></li><li><span><a href="#Assess-missing-values" data-toc-modified-id="Assess-missing-values-3.6"><span class="toc-item-num">3.6&nbsp;&nbsp;</span>Assess missing values</a></span></li></ul></li><li><span><a href="#Summary-statistics" data-toc-modified-id="Summary-statistics-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Summary statistics</a></span></li><li><span><a href="#Data-wrangling" data-toc-modified-id="Data-wrangling-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Data wrangling</a></span><ul class="toc-item"><li><span><a href="#Rename-column-names" data-toc-modified-id="Rename-column-names-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Rename column names</a></span></li><li><span><a href="#Reorder-columns" data-toc-modified-id="Reorder-columns-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Reorder columns</a></span><ul class="toc-item"><li><span><a href="#reverse-order" data-toc-modified-id="reverse-order-5.2.1"><span class="toc-item-num">5.2.1&nbsp;&nbsp;</span>reverse order</a></span></li><li><span><a href="#custom-order" data-toc-modified-id="custom-order-5.2.2"><span class="toc-item-num">5.2.2&nbsp;&nbsp;</span>custom order</a></span></li></ul></li><li><span><a href="#Rename-rows" data-toc-modified-id="Rename-rows-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>Rename rows</a></span><ul class="toc-item"><li><span><a href="#using-iterrows()" data-toc-modified-id="using-iterrows()-5.3.1"><span class="toc-item-num">5.3.1&nbsp;&nbsp;</span>using <code>iterrows()</code></a></span></li><li><span><a href="#accessing-one-specific-value-using-at[]" data-toc-modified-id="accessing-one-specific-value-using-at[]-5.3.2"><span class="toc-item-num">5.3.2&nbsp;&nbsp;</span>accessing one specific value using <code>at[]</code></a></span></li></ul></li><li><span><a href="#Reorder-rows" data-toc-modified-id="Reorder-rows-5.4"><span class="toc-item-num">5.4&nbsp;&nbsp;</span>Reorder rows</a></span><ul class="toc-item"><li><span><a href="#reverse-order" data-toc-modified-id="reverse-order-5.4.1"><span class="toc-item-num">5.4.1&nbsp;&nbsp;</span>reverse order</a></span></li><li><span><a href="#custom-order" data-toc-modified-id="custom-order-5.4.2"><span class="toc-item-num">5.4.2&nbsp;&nbsp;</span>custom order</a></span></li></ul></li><li><span><a href="#Add-a-prefix-or-a-suffix-to-column-names" data-toc-modified-id="Add-a-prefix-or-a-suffix-to-column-names-5.5"><span class="toc-item-num">5.5&nbsp;&nbsp;</span>Add a prefix or a suffix to column names</a></span></li><li><span><a href="#Convert-Pop_*-columns-from-float-to-integers" data-toc-modified-id="Convert-Pop_*-columns-from-float-to-integers-5.6"><span class="toc-item-num">5.6&nbsp;&nbsp;</span>Convert <code>Pop_*</code> columns from float to integers</a></span></li><li><span><a href="#Pivot-tables-from-wide-to-long" data-toc-modified-id="Pivot-tables-from-wide-to-long-5.7"><span class="toc-item-num">5.7&nbsp;&nbsp;</span>Pivot tables from wide to long</a></span></li><li><span><a href="#Pivot-tables-from-long-to-wide" data-toc-modified-id="Pivot-tables-from-long-to-wide-5.8"><span class="toc-item-num">5.8&nbsp;&nbsp;</span>Pivot tables from long to wide</a></span></li><li><span><a href="#Split-columns" data-toc-modified-id="Split-columns-5.9"><span class="toc-item-num">5.9&nbsp;&nbsp;</span>Split columns</a></span></li><li><span><a href="#Join-columns" data-toc-modified-id="Join-columns-5.10"><span class="toc-item-num">5.10&nbsp;&nbsp;</span>Join columns</a></span></li></ul></li></ul></div>

**What's data wrangling?**
Data wrangling is a process of transforming your data from a raw format to a format that is more appropriate for downstream analysis. You'll have to assess the quality of the current raw state of the data, and make decisions about how you'll go about improving its quality. 

The time you'll spend in data wrangling will depend on the quality of the data you get. For me, this is often the longest process. When working with data that are given to me, I spend time exploring the data and the metadata (if available), e.g., size of data and data types present. Then, I move on to assess how data are formatted as I often have to deal with spaces where there shouldn't be any, formatting inconsistencies, missing-values, etc. After all of that, I finally proceed to preprocessing it for my downstream analysis.

To demonstrate how to do data wrangling, I am using the Gapmider data from one of [The Carpentries](http://swcarpentry.github.io/python-novice-gapminder/) Workshop [I taught in the past](https://github.com/nathaliagg/my_carpentries_workshops).

In [1]:
import pandas as pd
import numpy as np

print('pandas version: ', pd.__version__)
print('numpy version: ', np.__version__)

pandas version:  1.2.0
numpy version:  1.19.4

# Download data

Source data: http://swcarpentry.github.io/python-novice-gapminder/files/python-novice-gapminder-data.zip

In [2]:
%%bash
wget http://swcarpentry.github.io/python-novice-gapminder/files/python-novice-gapminder-data.zip \
        -O python-novice-gapminder-data.zip

--2021-01-02 13:40:41--  http://swcarpentry.github.io/python-novice-gapminder/files/python-novice-gapminder-data.zip
Resolving swcarpentry.github.io (swcarpentry.github.io)... 185.199.111.153, 185.199.108.153, 185.199.109.153, ...
Connecting to swcarpentry.github.io (swcarpentry.github.io)|185.199.111.153|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 38471 (38K) [application/zip]
Saving to: ‘python-novice-gapminder-data.zip’

     0K .......... .......... .......... .......              100% 3.10M=0.01s

2021-01-02 13:40:41 (3.10 MB/s) - ‘python-novice-gapminder-data.zip’ saved [38471/38471]

In [3]:
%%bash
unzip -o python-novice-gapminder-data.zip

Archive:  python-novice-gapminder-data.zip
  inflating: data/gapminder_all.csv
  inflating: data/gapminder_gdp_africa.csv
  inflating: data/gapminder_gdp_americas.csv
  inflating: data/gapminder_gdp_asia.csv
  inflating: data/gapminder_gdp_europe.csv
  inflating: data/gapminder_gdp_oceania.csv

The data is now in a directory called `data/`

**What are these data?** These data came originally from the [Gapminder organization](https://www.gapminder.org). They promote data fact-based data literacy to fight people's misconceptions about the world we live in.

This particular dataset has been worked on a little bit by The Carpentries to fit in the workshops curriculum. I'll be mainly using the `data/gapminder_all.csv`

<div class="alert alert-block alert-success">
<b>Information about the data:</b>   

- Historical data from 1952 to 2007
    
- Gross domestic product (GDP) per capita (a.k.a. income per person) per year
    
- Life expectancy per year
    
- Population per year
</div>

# Import data into dataframe

In [4]:
df_all = pd.read_csv('data/gapminder_all.csv')
df_all.head()

,continent,country,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,...,pop_1962,pop_1967,pop_1972,pop_1977,pop_1982,pop_1987,pop_1992,pop_1997,pop_2002,pop_2007
0,Africa,Algeria,2449.008185,3013.976023,2550.816880,3246.991771,4182.663766,4910.416756,5745.160213,5681.358539,...,11000948.0,12760499.0,14760787.0,17152804.0,20033753.0,23254956.0,26298373.0,29072015.0,31287142,33333216
1,Africa,Angola,3520.610273,3827.940465,4269.276742,5522.776375,5473.288005,3008.647355,2756.953672,2430.208311,...,4826015.0,5247469.0,5894858.0,6162675.0,7016384.0,7874230.0,8735988.0,9875024.0,10866106,12420476
2,Africa,Benin,1062.752200,959.601080,949.499064,1035.831411,1085.796879,1029.161251,1277.897616,1225.856010,...,2151895.0,2427334.0,2761407.0,3168267.0,3641603.0,4243788.0,4981671.0,6066080.0,7026113,8078314
3,Africa,Botswana,851.241141,918.232535,983.653976,1214.709294,2263.611114,3214.857818,4551.142150,6205.883850,...,512764.0,553541.0,619351.0,781472.0,970347.0,1151184.0,1342614.0,1536536.0,1630347,1639131
4,Africa,Burkina Faso,543.255241,617.183465,722.512021,794.826560,854.735976,743.387037,807.198586,912.063142,...,4919632.0,5127935.0,5433886.0,5889574.0,6634596.0,7586551.0,8878303.0,10352843.0,12251209,14326203

# Exploratory process

Let's get to know these data ;)

1. Size of dataframe
2. Column names
3. Data typess in each column
4. Unique values in categorical data/columns
5. Range of values in numerical data/columns
6. Assess missing values

## Size of dataframe

In [5]:
# shape returns a tuple of (number of rows, number of columns)
df_all.shape

(142, 38)

## Column names

In [6]:
df_all.columns

Index(['continent', 'country', 'gdpPercap_1952', 'gdpPercap_1957',
       'gdpPercap_1962', 'gdpPercap_1967', 'gdpPercap_1972', 'gdpPercap_1977',
       'gdpPercap_1982', 'gdpPercap_1987', 'gdpPercap_1992', 'gdpPercap_1997',
       'gdpPercap_2002', 'gdpPercap_2007', 'lifeExp_1952', 'lifeExp_1957',
       'lifeExp_1962', 'lifeExp_1967', 'lifeExp_1972', 'lifeExp_1977',
       'lifeExp_1982', 'lifeExp_1987', 'lifeExp_1992', 'lifeExp_1997',
       'lifeExp_2002', 'lifeExp_2007', 'pop_1952', 'pop_1957', 'pop_1962',
       'pop_1967', 'pop_1972', 'pop_1977', 'pop_1982', 'pop_1987', 'pop_1992',
       'pop_1997', 'pop_2002', 'pop_2007'],
      dtype='object')

In [7]:
# another way to find number of columns
print(len(df_all.columns))

38

## Data types in each column

In [8]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142 entries, 0 to 141
Data columns (total 38 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   continent       142 non-null    object
 1   country         142 non-null    object
 2   gdpPercap_1952  142 non-null    float64
 3   gdpPercap_1957  142 non-null    float64
 4   gdpPercap_1962  142 non-null    float64
 5   gdpPercap_1967  142 non-null    float64
 6   gdpPercap_1972  142 non-null    float64
 7   gdpPercap_1977  142 non-null    float64
 8   gdpPercap_1982  142 non-null    float64
 9   gdpPercap_1987  142 non-null    float64
 10  gdpPercap_1992  142 non-null    float64
 11  gdpPercap_1997  142 non-null    float64
 12  gdpPercap_2002  142 non-null    float64
 13  gdpPercap_2007  142 non-null    float64
 14  lifeExp_1952    142 non-null    float64
 15  lifeExp_1957    142 non-null    float64
 16  lifeExp_1962    142 non-null    float64
 17  lifeExp_1967    142 non-null    float64
 18  lifeExp_1972    142 non-null    float64
 19  lifeExp_1977    142 non-null    float64
 20  lifeExp_1982    142 non-null    float64
 21  lifeExp_1987    142 non-null    float64
 22  lifeExp_1992    142 non-null    float64
 23  lifeExp_1997    142 non-null    float64
 24  lifeExp_2002    142 non-null    float64
 25  lifeExp_2007    142 non-null    float64
 26  pop_1952        142 non-null    float64
 27  pop_1957        142 non-null    float64
 28  pop_1962        142 non-null    float64
 29  pop_1967        142 non-null    float64
 30  pop_1972        142 non-null    float64
 31  pop_1977        142 non-null    float64
 32  pop_1982        142 non-null    float64
 33  pop_1987        142 non-null    float64
 34  pop_1992        142 non-null    float64
 35  pop_1997        142 non-null    float64
 36  pop_2002        142 non-null    int64
 37  pop_2007        142 non-null    int64
dtypes: float64(34), int64(2), object(2)
memory usage: 42.3+ KB

`info()` is a very useful function because it shows you the data types per column as well as missing value (non-null) count.

`object` is categorical data, `float64` is float, and `int64` is integer

## Unique values in categorical data/columns

In [9]:
df_all['continent'].unique()

array(['Africa', 'Americas', 'Asia', 'Europe', 'Oceania'], dtype=object)

In [10]:
print(len(df_all['continent'].unique()))

5

## Range of values in numerical data/columns

In [11]:
# one way is to investigate one or a few columns, one at a time
df_all.loc[:,['gdpPercap_1952', 'gdpPercap_2007']].describe()

       gdpPercap_1952  gdpPercap_2007
count      142.000000      142.000000
mean      3725.276046    11680.071820
std       9321.064786    12859.937337
min        298.846212      277.551859
25%        864.752389     1624.842248
50%       1968.528344     6124.371108
75%       3913.492777    18008.835640
max     108382.352900    49357.190170

In [12]:
# or you can do that in the entire dataframe
df_all.describe()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,...,pop_1962,pop_1967,pop_1972,pop_1977,pop_1982,pop_1987,pop_1992,pop_1997,pop_2002,pop_2007
count,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,...,1.420000e+02,1.420000e+02,1.420000e+02,1.420000e+02,1.420000e+02,1.420000e+02,1.420000e+02,1.420000e+02,1.420000e+02,1.420000e+02
mean,3725.276046,4299.408345,4725.812342,5483.653047,6770.082815,7313.166421,7518.901673,7900.920218,8158.608521,9090.175363,...,2.042101e+07,2.265830e+07,2.518998e+07,2.767638e+07,3.020730e+07,3.303857e+07,3.599092e+07,3.883947e+07,4.145759e+07,4.402122e+07
std,9321.064786,9869.662202,8667.362525,8095.315431,10614.383403,8362.489150,7733.845006,8288.281304,9031.846080,10171.493263,...,6.978865e+07,7.837548e+07,8.864682e+07,9.748109e+07,1.050986e+08,1.147562e+08,1.245026e+08,1.334174e+08,1.408483e+08,1.476214e+08
min,298.846212,335.997115,355.203227,349.000000,357.000000,371.000000,424.000000,385.000000,347.000000,312.188423,...,6.534500e+04,7.078700e+04,7.659500e+04,8.679600e+04,9.859300e+04,1.108120e+05,1.259110e+05,1.456080e+05,1.703720e+05,1.995790e+05
25%,864.752389,930.540819,1059.149171,1151.245103,1257.193853,1357.257252,1363.338985,1327.469823,1270.660958,1366.837958,...,1.784362e+06,2.034768e+06,2.351192e+06,2.759717e+06,3.006286e+06,3.194990e+06,3.605992e+06,3.770150e+06,4.173506e+06,4.508034e+06
50%,1968.528344,2173.220291,2335.439533,2678.334740,3339.129407,3798.609244,4216.228428,4280.300366,4386.085502,4781.825478,...,4.686040e+06,5.170176e+06,5.877996e+06,6.404036e+06,7.007320e+06,7.774862e+06,8.688686e+06,9.735064e+06,1.037292e+07,1.051753e+07
75%,3913.492777,4876.356362,5709.381428,7075.932943,9508.839304,11204.102423,12347.953723,11994.052795,10684.351870,12022.867188,...,1.098008e+07,1.261458e+07,1.467920e+07,1.667023e+07,1.840732e+07,2.094754e+07,2.270538e+07,2.431137e+07,2.654556e+07,3.121004e+07
max,108382.352900,113523.132900,95458.111760,80894.883260,109347.867000,59265.477140,33693.175250,31540.974800,34932.919590,41283.164330,...,6.657700e+08,7.545500e+08,8.620300e+08,9.434550e+08,1.000281e+09,1.084035e+09,1.164970e+09,1.230075e+09,1.280400e+09,1.318683e+09

`describe()` is intended for summary statistics, but it works for this purpose too. It's a two in one ;)

## Assess missing values

`info()` revealed these data don't have missing values, which is very rare. But here is another way to check for missing values

In [13]:
df_all.isnull().sum()

continent         0
country           0
gdpPercap_1952    0
gdpPercap_1957    0
gdpPercap_1962    0
gdpPercap_1967    0
gdpPercap_1972    0
gdpPercap_1977    0
gdpPercap_1982    0
gdpPercap_1987    0
gdpPercap_1992    0
gdpPercap_1997    0
gdpPercap_2002    0
gdpPercap_2007    0
lifeExp_1952      0
lifeExp_1957      0
lifeExp_1962      0
lifeExp_1967      0
lifeExp_1972      0
lifeExp_1977      0
lifeExp_1982      0
lifeExp_1987      0
lifeExp_1992      0
lifeExp_1997      0
lifeExp_2002      0
lifeExp_2007      0
pop_1952          0
pop_1957          0
pop_1962          0
pop_1967          0
pop_1972          0
pop_1977          0
pop_1982          0
pop_1987          0
pop_1992          0
pop_1997          0
pop_2002          0
pop_2007          0
dtype: int64

`isnull()` will return a dataframe with TRUE/FALSE, TRUE being missing value, and FALSE not missing value. `sum()` will take a sum of TRUE values in that database. The result is this itemized output with columns names and their respective sum of TRUE or missing values.

# Summary statistics

It's a good idea to get descriptive statistics such as minimum, mean, maximum values of the data. I already did that using `describe()`

In [14]:
df_all.describe()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,...,pop_1962,pop_1967,pop_1972,pop_1977,pop_1982,pop_1987,pop_1992,pop_1997,pop_2002,pop_2007
count,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,...,1.420000e+02,1.420000e+02,1.420000e+02,1.420000e+02,1.420000e+02,1.420000e+02,1.420000e+02,1.420000e+02,1.420000e+02,1.420000e+02
mean,3725.276046,4299.408345,4725.812342,5483.653047,6770.082815,7313.166421,7518.901673,7900.920218,8158.608521,9090.175363,...,2.042101e+07,2.265830e+07,2.518998e+07,2.767638e+07,3.020730e+07,3.303857e+07,3.599092e+07,3.883947e+07,4.145759e+07,4.402122e+07
std,9321.064786,9869.662202,8667.362525,8095.315431,10614.383403,8362.489150,7733.845006,8288.281304,9031.846080,10171.493263,...,6.978865e+07,7.837548e+07,8.864682e+07,9.748109e+07,1.050986e+08,1.147562e+08,1.245026e+08,1.334174e+08,1.408483e+08,1.476214e+08
min,298.846212,335.997115,355.203227,349.000000,357.000000,371.000000,424.000000,385.000000,347.000000,312.188423,...,6.534500e+04,7.078700e+04,7.659500e+04,8.679600e+04,9.859300e+04,1.108120e+05,1.259110e+05,1.456080e+05,1.703720e+05,1.995790e+05
25%,864.752389,930.540819,1059.149171,1151.245103,1257.193853,1357.257252,1363.338985,1327.469823,1270.660958,1366.837958,...,1.784362e+06,2.034768e+06,2.351192e+06,2.759717e+06,3.006286e+06,3.194990e+06,3.605992e+06,3.770150e+06,4.173506e+06,4.508034e+06
50%,1968.528344,2173.220291,2335.439533,2678.334740,3339.129407,3798.609244,4216.228428,4280.300366,4386.085502,4781.825478,...,4.686040e+06,5.170176e+06,5.877996e+06,6.404036e+06,7.007320e+06,7.774862e+06,8.688686e+06,9.735064e+06,1.037292e+07,1.051753e+07
75%,3913.492777,4876.356362,5709.381428,7075.932943,9508.839304,11204.102423,12347.953723,11994.052795,10684.351870,12022.867188,...,1.098008e+07,1.261458e+07,1.467920e+07,1.667023e+07,1.840732e+07,2.094754e+07,2.270538e+07,2.431137e+07,2.654556e+07,3.121004e+07
max,108382.352900,113523.132900,95458.111760,80894.883260,109347.867000,59265.477140,33693.175250,31540.974800,34932.919590,41283.164330,...,6.657700e+08,7.545500e+08,8.620300e+08,9.434550e+08,1.000281e+09,1.084035e+09,1.164970e+09,1.230075e+09,1.280400e+09,1.318683e+09

There is a package called [`pandas-profiling`](https://pandas-profiling.github.io/pandas-profiling/docs/master/rtd/pages/installation.html) that goes beyond the basic descriptive statistics. It's really cool and I recommend it. It's currently not working with Python 3.9, which is the version I have, due to [`numba`](https://github.com/numba/numba/issues/6345).

# Data wrangling

Like I said before, data wrangling will depend on the raw state of your data. In this case, the data has been working on a little bit in order to fit in the workshop's curriculum.

We can still practice commonly used data wrangling commands:

- Rename column names
- Reorder columns
- Rename rows
- Reorder rows
- Add a prefix or a suffix to column names
- Convert population columns from float to integers
- Pivot tables from wide to long
- Pivot tables from long to wide

## Rename column names

There are many ways to do this, and it will also depend on how many column you have and which ones you want to rename.

In this case we have 38 columns, and let's say I want to change columns name to the following: `Continent`, `Country`, `GDPpercap_*`, `LifeExp_*`, `Pop_*`. I can write a `for loop` to iterate over column names and to deal with all of them at once.

In order to maintain the raw format, I'll first create a copy of `df_all` as `df_mod`, in which *mod* stands for modified.

In [15]:
df_mod = df_all.copy()

In [16]:
# rename all columns:
for col in list(df_mod.columns):
    # print(col) ## always use print statements while building your for loop
    if col.startswith('c'):
        # print(col.capitalize())
        df_mod.rename(columns={col: col.capitalize()}, inplace=True)
    elif col.startswith('gdp'):
        # first get the year:
        year = col.split('_')[-1]
        new_name = 'GDPpercap_' + year
        # print(new_name)
        df_mod.rename(columns={col: new_name}, inplace=True)
    elif col.startswith('l'):
        year = col.split('_')[-1]
        new_name = 'LifeExp_' + year
        # print(new_name)
        df_mod.rename(columns={col: new_name}, inplace=True)
    else:
        # print(col.capitalize())
        df_mod.rename(columns={col: col.capitalize()}, inplace=True)

In [17]:
df_mod.head()

,Continent,Country,GDPpercap_1952,GDPpercap_1957,GDPpercap_1962,GDPpercap_1967,GDPpercap_1972,GDPpercap_1977,GDPpercap_1982,GDPpercap_1987,...,Pop_1962,Pop_1967,Pop_1972,Pop_1977,Pop_1982,Pop_1987,Pop_1992,Pop_1997,Pop_2002,Pop_2007
0,Africa,Algeria,2449.008185,3013.976023,2550.816880,3246.991771,4182.663766,4910.416756,5745.160213,5681.358539,...,11000948.0,12760499.0,14760787.0,17152804.0,20033753.0,23254956.0,26298373.0,29072015.0,31287142,33333216
1,Africa,Angola,3520.610273,3827.940465,4269.276742,5522.776375,5473.288005,3008.647355,2756.953672,2430.208311,...,4826015.0,5247469.0,5894858.0,6162675.0,7016384.0,7874230.0,8735988.0,9875024.0,10866106,12420476
2,Africa,Benin,1062.752200,959.601080,949.499064,1035.831411,1085.796879,1029.161251,1277.897616,1225.856010,...,2151895.0,2427334.0,2761407.0,3168267.0,3641603.0,4243788.0,4981671.0,6066080.0,7026113,8078314
3,Africa,Botswana,851.241141,918.232535,983.653976,1214.709294,2263.611114,3214.857818,4551.142150,6205.883850,...,512764.0,553541.0,619351.0,781472.0,970347.0,1151184.0,1342614.0,1536536.0,1630347,1639131
4,Africa,Burkina Faso,543.255241,617.183465,722.512021,794.826560,854.735976,743.387037,807.198586,912.063142,...,4919632.0,5127935.0,5433886.0,5889574.0,6634596.0,7586551.0,8878303.0,10352843.0,12251209,14326203

## Reorder columns

### reverse order

In [18]:
df_mod.loc[:, ::-1].head()

,Pop_2007,Pop_2002,Pop_1997,Pop_1992,Pop_1987,Pop_1982,Pop_1977,Pop_1972,Pop_1967,Pop_1962,...,GDPpercap_1987,GDPpercap_1982,GDPpercap_1977,GDPpercap_1972,GDPpercap_1967,GDPpercap_1962,GDPpercap_1957,GDPpercap_1952,Country,Continent
0,33333216,31287142,29072015.0,26298373.0,23254956.0,20033753.0,17152804.0,14760787.0,12760499.0,11000948.0,...,5681.358539,5745.160213,4910.416756,4182.663766,3246.991771,2550.816880,3013.976023,2449.008185,Algeria,Africa
1,12420476,10866106,9875024.0,8735988.0,7874230.0,7016384.0,6162675.0,5894858.0,5247469.0,4826015.0,...,2430.208311,2756.953672,3008.647355,5473.288005,5522.776375,4269.276742,3827.940465,3520.610273,Angola,Africa
2,8078314,7026113,6066080.0,4981671.0,4243788.0,3641603.0,3168267.0,2761407.0,2427334.0,2151895.0,...,1225.856010,1277.897616,1029.161251,1085.796879,1035.831411,949.499064,959.601080,1062.752200,Benin,Africa
3,1639131,1630347,1536536.0,1342614.0,1151184.0,970347.0,781472.0,619351.0,553541.0,512764.0,...,6205.883850,4551.142150,3214.857818,2263.611114,1214.709294,983.653976,918.232535,851.241141,Botswana,Africa
4,14326203,12251209,10352843.0,8878303.0,7586551.0,6634596.0,5889574.0,5433886.0,5127935.0,4919632.0,...,912.063142,807.198586,743.387037,854.735976,794.826560,722.512021,617.183465,543.255241,Burkina Faso,Africa

### custom order

Let's say I want `Continent`, `Country`, `GDPpercap_*`, `Pop_*`, `LifeExp_*`

In [19]:
# 1 - get the index of each column using enumerate()
for index,col in enumerate(df_mod.columns.values):
    print(index,col)

0 Continent
1 Country
2 GDPpercap_1952
3 GDPpercap_1957
4 GDPpercap_1962
5 GDPpercap_1967
6 GDPpercap_1972
7 GDPpercap_1977
8 GDPpercap_1982
9 GDPpercap_1987
10 GDPpercap_1992
11 GDPpercap_1997
12 GDPpercap_2002
13 GDPpercap_2007
14 LifeExp_1952
15 LifeExp_1957
16 LifeExp_1962
17 LifeExp_1967
18 LifeExp_1972
19 LifeExp_1977
20 LifeExp_1982
21 LifeExp_1987
22 LifeExp_1992
23 LifeExp_1997
24 LifeExp_2002
25 LifeExp_2007
26 Pop_1952
27 Pop_1957
28 Pop_1962
29 Pop_1967
30 Pop_1972
31 Pop_1977
32 Pop_1982
33 Pop_1987
34 Pop_1992
35 Pop_1997
36 Pop_2002
37 Pop_2007

In [20]:
# 2- use np.r_ to convert the combination of column indices into an array of integers
column_order = np.r_[0:14,26:38,13:26]
column_order

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 26, 27, 28,
       29, 30, 31, 32, 33, 34, 35, 36, 37, 13, 14, 15, 16, 17, 18, 19, 20,
       21, 22, 23, 24, 25])

In [21]:
# 3- pass the array to .iloc[]
df_mod.iloc[:,column_order].head()

,Continent,Country,GDPpercap_1952,GDPpercap_1957,GDPpercap_1962,GDPpercap_1967,GDPpercap_1972,GDPpercap_1977,GDPpercap_1982,GDPpercap_1987,...,LifeExp_1962,LifeExp_1967,LifeExp_1972,LifeExp_1977,LifeExp_1982,LifeExp_1987,LifeExp_1992,LifeExp_1997,LifeExp_2002,LifeExp_2007
0,Africa,Algeria,2449.008185,3013.976023,2550.816880,3246.991771,4182.663766,4910.416756,5745.160213,5681.358539,...,48.303,51.407,54.518,58.014,61.368,65.799,67.744,69.152,70.994,72.301
1,Africa,Angola,3520.610273,3827.940465,4269.276742,5522.776375,5473.288005,3008.647355,2756.953672,2430.208311,...,34.000,35.985,37.928,39.483,39.942,39.906,40.647,40.963,41.003,42.731
2,Africa,Benin,1062.752200,959.601080,949.499064,1035.831411,1085.796879,1029.161251,1277.897616,1225.856010,...,42.618,44.885,47.014,49.190,50.904,52.337,53.919,54.777,54.406,56.728
3,Africa,Botswana,851.241141,918.232535,983.653976,1214.709294,2263.611114,3214.857818,4551.142150,6205.883850,...,51.520,53.298,56.024,59.319,61.484,63.622,62.745,52.556,46.634,50.728
4,Africa,Burkina Faso,543.255241,617.183465,722.512021,794.826560,854.735976,743.387037,807.198586,912.063142,...,37.814,40.697,43.591,46.137,48.122,49.557,50.260,50.324,50.650,52.295

## Rename rows

For example, let's rename `Brazil` to `Brasil` because Brasil it's how Brazilians write their country name ;)

I'll demonstrate two ways:
- using `iterrows()`
- accessing one specific value using `at[]`

In [22]:
# make a copy
df_mod2 = df_mod.copy()

# test to see if Brazil is there
df_mod2[df_mod2['Country']=='Brazil']

,Continent,Country,GDPpercap_1952,GDPpercap_1957,GDPpercap_1962,GDPpercap_1967,GDPpercap_1972,GDPpercap_1977,GDPpercap_1982,GDPpercap_1987,...,Pop_1962,Pop_1967,Pop_1972,Pop_1977,Pop_1982,Pop_1987,Pop_1992,Pop_1997,Pop_2002,Pop_2007
54,Americas,Brazil,2108.944355,2487.365989,3336.585802,3429.864357,4985.711467,6660.118654,7030.835878,7807.095818,...,76039390.0,88049823.0,100840058.0,114313951.0,128962939.0,142938076.0,155975974.0,168546719.0,179914212,190010647

### using `iterrows()`

This is useful when you have quite a few things to rename/change.

In [23]:
# iterate through rows
for index,row in df_mod2.iterrows():
    # print(index, row)
    # print(index, row['Continent'])
    if row['Country'] == 'Brazil':
        # print(index, row['Country'])
        df_mod2.loc[54, 'Country'] = 'Brasil' # this will replace Brazil to Brasil in the df, hence the df copy
    # if you have more values to change, you could continue the for loop using the appropriate conditionals

# test if the modification was successful, does Brazil still exist?
df_mod2[df_mod2['Country']=='Brazil']

Empty DataFrame
Columns: [Continent, Country, GDPpercap_1952, GDPpercap_1957, GDPpercap_1962, GDPpercap_1967, GDPpercap_1972, GDPpercap_1977, GDPpercap_1982, GDPpercap_1987, GDPpercap_1992, GDPpercap_1997, GDPpercap_2002, GDPpercap_2007, LifeExp_1952, LifeExp_1957, LifeExp_1962, LifeExp_1967, LifeExp_1972, LifeExp_1977, LifeExp_1982, LifeExp_1987, LifeExp_1992, LifeExp_1997, LifeExp_2002, LifeExp_2007, Pop_1952, Pop_1957, Pop_1962, Pop_1967, Pop_1972, Pop_1977, Pop_1982, Pop_1987, Pop_1992, Pop_1997, Pop_2002, Pop_2007]
Index: []

[0 rows x 38 columns]

In [24]:
# test if the modification was successful
df_mod2[df_mod2['Country']=='Brasil']

,Continent,Country,GDPpercap_1952,GDPpercap_1957,GDPpercap_1962,GDPpercap_1967,GDPpercap_1972,GDPpercap_1977,GDPpercap_1982,GDPpercap_1987,...,Pop_1962,Pop_1967,Pop_1972,Pop_1977,Pop_1982,Pop_1987,Pop_1992,Pop_1997,Pop_2002,Pop_2007
54,Americas,Brasil,2108.944355,2487.365989,3336.585802,3429.864357,4985.711467,6660.118654,7030.835878,7807.095818,...,76039390.0,88049823.0,100840058.0,114313951.0,128962939.0,142938076.0,155975974.0,168546719.0,179914212,190010647

### accessing one specific value using `at[]`

In [25]:
# re-write the copy df
df_mod2 = df_mod.copy()

# test to see if Brazil is there
df_mod2[df_mod2['Country']=='Brazil']

,Continent,Country,GDPpercap_1952,GDPpercap_1957,GDPpercap_1962,GDPpercap_1967,GDPpercap_1972,GDPpercap_1977,GDPpercap_1982,GDPpercap_1987,...,Pop_1962,Pop_1967,Pop_1972,Pop_1977,Pop_1982,Pop_1987,Pop_1992,Pop_1997,Pop_2002,Pop_2007
54,Americas,Brazil,2108.944355,2487.365989,3336.585802,3429.864357,4985.711467,6660.118654,7030.835878,7807.095818,...,76039390.0,88049823.0,100840058.0,114313951.0,128962939.0,142938076.0,155975974.0,168546719.0,179914212,190010647

In [26]:
# use to replace Brazil to Brazil as at[index, column] = value
df_mod2.at[54,'Country'] = 'Brasil'

# test if the modification was successful
df_mod2[df_mod2['Country']=='Brasil']

,Continent,Country,GDPpercap_1952,GDPpercap_1957,GDPpercap_1962,GDPpercap_1967,GDPpercap_1972,GDPpercap_1977,GDPpercap_1982,GDPpercap_1987,...,Pop_1962,Pop_1967,Pop_1972,Pop_1977,Pop_1982,Pop_1987,Pop_1992,Pop_1997,Pop_2002,Pop_2007
54,Americas,Brasil,2108.944355,2487.365989,3336.585802,3429.864357,4985.711467,6660.118654,7030.835878,7807.095818,...,76039390.0,88049823.0,100840058.0,114313951.0,128962939.0,142938076.0,155975974.0,168546719.0,179914212,190010647

## Reorder rows

These will be very similar to reordering columns

### reverse order

In [27]:
df_mod.loc[::-1, :].head()

,Continent,Country,GDPpercap_1952,GDPpercap_1957,GDPpercap_1962,GDPpercap_1967,GDPpercap_1972,GDPpercap_1977,GDPpercap_1982,GDPpercap_1987,...,Pop_1962,Pop_1967,Pop_1972,Pop_1977,Pop_1982,Pop_1987,Pop_1992,Pop_1997,Pop_2002,Pop_2007
141,Oceania,New Zealand,10556.575660,12247.395320,13175.678000,14463.918930,16046.03728,16233.717700,17632.410400,19007.191290,...,2488550.0,2728150.0,2929100.0,3164900.0,3210650.0,3317166.0,3437674.0,3676187.0,3908037,4115771
140,Oceania,Australia,10039.595640,10949.649590,12217.226860,14526.124650,16788.62948,18334.197510,19477.009280,21888.889030,...,10794968.0,11872264.0,13177000.0,14074100.0,15184200.0,16257249.0,17481977.0,18565243.0,19546792,20434176
139,Europe,United Kingdom,9979.508487,11283.177950,12477.177070,14142.850890,15895.11641,17428.748460,18232.424520,21664.787670,...,53292000.0,54959000.0,56079000.0,56179000.0,56339704.0,56981620.0,57866349.0,58808266.0,59912431,60776238
138,Europe,Turkey,1969.100980,2218.754257,2322.869908,2826.356387,3450.69638,4269.122326,4241.356344,5089.043686,...,29788695.0,33411317.0,37492953.0,42404033.0,47328791.0,52881328.0,58179144.0,63047647.0,67308928,71158647
137,Europe,Switzerland,14734.232750,17909.489730,20431.092700,22966.144320,27195.11304,26982.290520,28397.715120,30281.704590,...,5666000.0,6063000.0,6401400.0,6316424.0,6468126.0,6649942.0,6995447.0,7193761.0,7361757,7554661

### custom order

Let's say I want Brazil as first row. Remember, Brazil is in position 54.

In [28]:
df_mod.iloc[np.r_[54,0:54,55:142],:].head()

,Continent,Country,GDPpercap_1952,GDPpercap_1957,GDPpercap_1962,GDPpercap_1967,GDPpercap_1972,GDPpercap_1977,GDPpercap_1982,GDPpercap_1987,...,Pop_1962,Pop_1967,Pop_1972,Pop_1977,Pop_1982,Pop_1987,Pop_1992,Pop_1997,Pop_2002,Pop_2007
54,Americas,Brazil,2108.944355,2487.365989,3336.585802,3429.864357,4985.711467,6660.118654,7030.835878,7807.095818,...,76039390.0,88049823.0,100840058.0,114313951.0,128962939.0,142938076.0,155975974.0,168546719.0,179914212,190010647
0,Africa,Algeria,2449.008185,3013.976023,2550.816880,3246.991771,4182.663766,4910.416756,5745.160213,5681.358539,...,11000948.0,12760499.0,14760787.0,17152804.0,20033753.0,23254956.0,26298373.0,29072015.0,31287142,33333216
1,Africa,Angola,3520.610273,3827.940465,4269.276742,5522.776375,5473.288005,3008.647355,2756.953672,2430.208311,...,4826015.0,5247469.0,5894858.0,6162675.0,7016384.0,7874230.0,8735988.0,9875024.0,10866106,12420476
2,Africa,Benin,1062.752200,959.601080,949.499064,1035.831411,1085.796879,1029.161251,1277.897616,1225.856010,...,2151895.0,2427334.0,2761407.0,3168267.0,3641603.0,4243788.0,4981671.0,6066080.0,7026113,8078314
3,Africa,Botswana,851.241141,918.232535,983.653976,1214.709294,2263.611114,3214.857818,4551.142150,6205.883850,...,512764.0,553541.0,619351.0,781472.0,970347.0,1151184.0,1342614.0,1536536.0,1630347,1639131

## Add a prefix or a suffix to column names

This doesn't really apply to this dataframe, but I think these are good commands to know.

These modifications don't happen *inplace*

In [29]:
df_mod.add_prefix('PREFIX_').head() # remember, not inplace!

,PREFIX_Continent,PREFIX_Country,PREFIX_GDPpercap_1952,PREFIX_GDPpercap_1957,PREFIX_GDPpercap_1962,PREFIX_GDPpercap_1967,PREFIX_GDPpercap_1972,PREFIX_GDPpercap_1977,PREFIX_GDPpercap_1982,PREFIX_GDPpercap_1987,...,PREFIX_Pop_1962,PREFIX_Pop_1967,PREFIX_Pop_1972,PREFIX_Pop_1977,PREFIX_Pop_1982,PREFIX_Pop_1987,PREFIX_Pop_1992,PREFIX_Pop_1997,PREFIX_Pop_2002,PREFIX_Pop_2007
0,Africa,Algeria,2449.008185,3013.976023,2550.816880,3246.991771,4182.663766,4910.416756,5745.160213,5681.358539,...,11000948.0,12760499.0,14760787.0,17152804.0,20033753.0,23254956.0,26298373.0,29072015.0,31287142,33333216
1,Africa,Angola,3520.610273,3827.940465,4269.276742,5522.776375,5473.288005,3008.647355,2756.953672,2430.208311,...,4826015.0,5247469.0,5894858.0,6162675.0,7016384.0,7874230.0,8735988.0,9875024.0,10866106,12420476
2,Africa,Benin,1062.752200,959.601080,949.499064,1035.831411,1085.796879,1029.161251,1277.897616,1225.856010,...,2151895.0,2427334.0,2761407.0,3168267.0,3641603.0,4243788.0,4981671.0,6066080.0,7026113,8078314
3,Africa,Botswana,851.241141,918.232535,983.653976,1214.709294,2263.611114,3214.857818,4551.142150,6205.883850,...,512764.0,553541.0,619351.0,781472.0,970347.0,1151184.0,1342614.0,1536536.0,1630347,1639131
4,Africa,Burkina Faso,543.255241,617.183465,722.512021,794.826560,854.735976,743.387037,807.198586,912.063142,...,4919632.0,5127935.0,5433886.0,5889574.0,6634596.0,7586551.0,8878303.0,10352843.0,12251209,14326203

In [30]:
df_mod.add_suffix('_SUFFIX').head() # remember, not inplace!

,Continent_SUFFIX,Country_SUFFIX,GDPpercap_1952_SUFFIX,GDPpercap_1957_SUFFIX,GDPpercap_1962_SUFFIX,GDPpercap_1967_SUFFIX,GDPpercap_1972_SUFFIX,GDPpercap_1977_SUFFIX,GDPpercap_1982_SUFFIX,GDPpercap_1987_SUFFIX,...,Pop_1962_SUFFIX,Pop_1967_SUFFIX,Pop_1972_SUFFIX,Pop_1977_SUFFIX,Pop_1982_SUFFIX,Pop_1987_SUFFIX,Pop_1992_SUFFIX,Pop_1997_SUFFIX,Pop_2002_SUFFIX,Pop_2007_SUFFIX
0,Africa,Algeria,2449.008185,3013.976023,2550.816880,3246.991771,4182.663766,4910.416756,5745.160213,5681.358539,...,11000948.0,12760499.0,14760787.0,17152804.0,20033753.0,23254956.0,26298373.0,29072015.0,31287142,33333216
1,Africa,Angola,3520.610273,3827.940465,4269.276742,5522.776375,5473.288005,3008.647355,2756.953672,2430.208311,...,4826015.0,5247469.0,5894858.0,6162675.0,7016384.0,7874230.0,8735988.0,9875024.0,10866106,12420476
2,Africa,Benin,1062.752200,959.601080,949.499064,1035.831411,1085.796879,1029.161251,1277.897616,1225.856010,...,2151895.0,2427334.0,2761407.0,3168267.0,3641603.0,4243788.0,4981671.0,6066080.0,7026113,8078314
3,Africa,Botswana,851.241141,918.232535,983.653976,1214.709294,2263.611114,3214.857818,4551.142150,6205.883850,...,512764.0,553541.0,619351.0,781472.0,970347.0,1151184.0,1342614.0,1536536.0,1630347,1639131
4,Africa,Burkina Faso,543.255241,617.183465,722.512021,794.826560,854.735976,743.387037,807.198586,912.063142,...,4919632.0,5127935.0,5433886.0,5889574.0,6634596.0,7586551.0,8878303.0,10352843.0,12251209,14326203

## Convert `Pop_*` columns from float to integers

In [31]:
for col in df_mod.columns.values:
    if col.startswith('Pop_'):
        # print(col)
        df_mod[col] = df_mod[col].astype({col: 'int'})

In [32]:
df_mod.dtypes

Continent          object
Country            object
GDPpercap_1952    float64
GDPpercap_1957    float64
GDPpercap_1962    float64
GDPpercap_1967    float64
GDPpercap_1972    float64
GDPpercap_1977    float64
GDPpercap_1982    float64
GDPpercap_1987    float64
GDPpercap_1992    float64
GDPpercap_1997    float64
GDPpercap_2002    float64
GDPpercap_2007    float64
LifeExp_1952      float64
LifeExp_1957      float64
LifeExp_1962      float64
LifeExp_1967      float64
LifeExp_1972      float64
LifeExp_1977      float64
LifeExp_1982      float64
LifeExp_1987      float64
LifeExp_1992      float64
LifeExp_1997      float64
LifeExp_2002      float64
LifeExp_2007      float64
Pop_1952            int64
Pop_1957            int64
Pop_1962            int64
Pop_1967            int64
Pop_1972            int64
Pop_1977            int64
Pop_1982            int64
Pop_1987            int64
Pop_1992            int64
Pop_1997            int64
Pop_2002            int64
Pop_2007            int64
dtype: object

## Pivot tables from wide to long

Let's use `melt`.

In [33]:
# subset the df to make it easier to visualize
# subset Continent, Country and GDPpercap_*
subset_df = df_mod.iloc[:,:14]
subset_df.head()

,Continent,Country,GDPpercap_1952,GDPpercap_1957,GDPpercap_1962,GDPpercap_1967,GDPpercap_1972,GDPpercap_1977,GDPpercap_1982,GDPpercap_1987,GDPpercap_1992,GDPpercap_1997,GDPpercap_2002,GDPpercap_2007
0,Africa,Algeria,2449.008185,3013.976023,2550.816880,3246.991771,4182.663766,4910.416756,5745.160213,5681.358539,5023.216647,4797.295051,5288.040382,6223.367465
1,Africa,Angola,3520.610273,3827.940465,4269.276742,5522.776375,5473.288005,3008.647355,2756.953672,2430.208311,2627.845685,2277.140884,2773.287312,4797.231267
2,Africa,Benin,1062.752200,959.601080,949.499064,1035.831411,1085.796879,1029.161251,1277.897616,1225.856010,1191.207681,1232.975292,1372.877931,1441.284873
3,Africa,Botswana,851.241141,918.232535,983.653976,1214.709294,2263.611114,3214.857818,4551.142150,6205.883850,7954.111645,8647.142313,11003.605080,12569.851770
4,Africa,Burkina Faso,543.255241,617.183465,722.512021,794.826560,854.735976,743.387037,807.198586,912.063142,931.752773,946.294962,1037.645221,1217.032994

In [34]:
# 1- let's get a list of columns we want to collapse
target_columns = [
    col for col in subset_df.columns.values if col.startswith('GDP')
]

df_long = pd.melt(subset_df, 
        id_vars=['Continent', 'Country'], 
        value_vars=target_columns,
        var_name = 'Parameter',
        value_name = 'Value')

df_long.head()

  Continent       Country       Parameter        Value
0    Africa       Algeria  GDPpercap_1952  2449.008185
1    Africa        Angola  GDPpercap_1952  3520.610273
2    Africa         Benin  GDPpercap_1952  1062.752200
3    Africa      Botswana  GDPpercap_1952   851.241141
4    Africa  Burkina Faso  GDPpercap_1952   543.255241

## Pivot tables from long to wide

Let's use `pivot_table` because it can handle duplicate values in the index.

In [35]:
df_wide = pd.pivot_table(df_long, 
               index = ['Continent', 'Country'],
               values = 'Value', 
               columns='Parameter').reset_index()
df_wide.head()

Parameter,Continent,Country,GDPpercap_1952,GDPpercap_1957,GDPpercap_1962,GDPpercap_1967,GDPpercap_1972,GDPpercap_1977,GDPpercap_1982,GDPpercap_1987,GDPpercap_1992,GDPpercap_1997,GDPpercap_2002,GDPpercap_2007
0,Africa,Algeria,2449.008185,3013.976023,2550.816880,3246.991771,4182.663766,4910.416756,5745.160213,5681.358539,5023.216647,4797.295051,5288.040382,6223.367465
1,Africa,Angola,3520.610273,3827.940465,4269.276742,5522.776375,5473.288005,3008.647355,2756.953672,2430.208311,2627.845685,2277.140884,2773.287312,4797.231267
2,Africa,Benin,1062.752200,959.601080,949.499064,1035.831411,1085.796879,1029.161251,1277.897616,1225.856010,1191.207681,1232.975292,1372.877931,1441.284873
3,Africa,Botswana,851.241141,918.232535,983.653976,1214.709294,2263.611114,3214.857818,4551.142150,6205.883850,7954.111645,8647.142313,11003.605080,12569.851770
4,Africa,Burkina Faso,543.255241,617.183465,722.512021,794.826560,854.735976,743.387037,807.198586,912.063142,931.752773,946.294962,1037.645221,1217.032994

## Split columns

Let's use `df_long` to split the Parameter column into Parameter and Year:

In [36]:
df_long['Year'] = df_long['Parameter'].str.split('_').str[-1]
df_long['Parameter'] = df_long['Parameter'].str.split('_').str[0]
df_long.head()

  Continent       Country  Parameter        Value  Year
0    Africa       Algeria  GDPpercap  2449.008185  1952
1    Africa        Angola  GDPpercap  3520.610273  1952
2    Africa         Benin  GDPpercap  1062.752200  1952
3    Africa      Botswana  GDPpercap   851.241141  1952
4    Africa  Burkina Faso  GDPpercap   543.255241  1952

## Join columns

Or we could concat two columns, Parameters and Year, into one. There are a few ways to do so:

In [37]:
# 1- hard code
df_long['Parameter'] + '_' + df_long['Year']

0       GDPpercap_1952
1       GDPpercap_1952
2       GDPpercap_1952
3       GDPpercap_1952
4       GDPpercap_1952
             ...
1699    GDPpercap_2007
1700    GDPpercap_2007
1701    GDPpercap_2007
1702    GDPpercap_2007
1703    GDPpercap_2007
Length: 1704, dtype: object

In [38]:
# 2- using apply and lambda
df_long[['Parameter','Year']].apply(lambda x: "_".join(x), axis=1)

0       GDPpercap_1952
1       GDPpercap_1952
2       GDPpercap_1952
3       GDPpercap_1952
4       GDPpercap_1952
             ...
1699    GDPpercap_2007
1700    GDPpercap_2007
1701    GDPpercap_2007
1702    GDPpercap_2007
1703    GDPpercap_2007
Length: 1704, dtype: object

In [39]:
# 3- using aggregate
df_long[['Parameter','Year']].agg('_'.join, axis=1)

0       GDPpercap_1952
1       GDPpercap_1952
2       GDPpercap_1952
3       GDPpercap_1952
4       GDPpercap_1952
             ...
1699    GDPpercap_2007
1700    GDPpercap_2007
1701    GDPpercap_2007
1702    GDPpercap_2007
1703    GDPpercap_2007
Length: 1704, dtype: object

In [40]:
# choose one of the methods 
# apply the df and drop Year
df_long['Parameter']= df_long[['Parameter','Year']].apply(lambda x: "_".join(x), axis=1)
df_long.drop('Year', axis=1, inplace=True)
df_long

     Continent         Country       Parameter         Value
0       Africa         Algeria  GDPpercap_1952   2449.008185
1       Africa          Angola  GDPpercap_1952   3520.610273
2       Africa           Benin  GDPpercap_1952   1062.752200
3       Africa        Botswana  GDPpercap_1952    851.241141
4       Africa    Burkina Faso  GDPpercap_1952    543.255241
...        ...             ...             ...           ...
1699    Europe     Switzerland  GDPpercap_2007  37506.419070
1700    Europe          Turkey  GDPpercap_2007   8458.276384
1701    Europe  United Kingdom  GDPpercap_2007  33203.261280
1702   Oceania       Australia  GDPpercap_2007  34435.367440
1703   Oceania     New Zealand  GDPpercap_2007  25185.009110

[1704 rows x 4 columns]